.movie-card{
    width: 220px;
    height: 330px;
    background-size: cover;
    cursor: pointer;
    transition: 0.5s;
}
.over-lay{
    width: 100%;
    height: 100%;
    background: rgba(43,41,41,0.9);
    opacity: 0;
    transition: all 1s;
    color: white;
    font-weight: bold;
    overflow-wrap: break-word;
    padding: 1em;
}
.over-lay:hover{
    opacity: 1;
}
.movie-card:hover{
    transform: scale(1.3) translateZ(20px);
    z-index: 2;
}
.movie-info{
    margin-top: 100px;
    position: absolute;
    bottom: 1rem;
}
.movie-info-sub{
    display: flex;
    justify-content: left;
}
.movie-info-sub div{
    margin: 4px;
    font-size: small;
}